# This workflow is disabled by setting branches to 'never'.
name: TypeScript Build

on:
  push:
    branches:
      - never
    paths:
      - 'src/**'
  pull_request:
    branches:
      - never
    paths:
      - 'src/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x' # Use the Node.js version that matches your environment

      - name: Install dependencies
        run: npm ci # This installs node modules as per the package-lock.json

      - name: Compile TypeScript
        run: npm run build # This should match the script in your package.json
